# maxdata
Bollywoodmax data ptoject
#ContactForm1
{
display: none ! important;
}


.mobile .tabs-inner .PageList .widget-content {
background-color: #c91a69;
font-size: 24px;
color: #ffffff;
height: 38px;
}

html .tabs-inner .widget select {
font-size: 24px;
color: #ffffff;
background: #c91a69;
z-index: 0;
}

.mobile .tabs-inner .PageList .widget-content .pagelist-arrow {
line-height: 2em;
}








.AdSense {
line-height: 0;
text-align: center;
}

body.mobile .AdSense {
margin: 10px 10px;
text-align: -webkit-left;
}
